@font-face {
    font-family: 'Shrikhand';
    src: url("../../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
   }
body {
    margin: 0;
    font-family: $font-text;
    font-weight: 500;
}