body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
  padding: 5%;
}
.header__btn {
  color: #000;
}
.header__btn:hover {
  color: #4d4d4d;
}
.header__image {
  width: 50%;
}

.section-menu {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-menu__image {
  width: 100%;
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -2.8rem;
}
.section-menu__heading {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4.5rem;
  background-color: #f6f6f6;
  border-radius: 2rem;
  margin: 11.5rem 0 0 0;
}
.section-menu__heading h1 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  font-family: "Shrikhand", cursive;
}
.section-menu__heading a {
  width: 2rem;
  color: #000;
}
.section-menu__heading a i {
  font-size: 1.4rem;
}
.section-menu__heading a i:hover {
  font-weight: bold;
  color: #9356dc;
  -webkit-animation: heart 1s forwards cubic-bezier(0.55, 0.17, 0.58, 0.95);
          animation: heart 1s forwards cubic-bezier(0.55, 0.17, 0.58, 0.95);
}
.section-menu__content {
  margin-top: 5rem;
  background-color: #f6f6f6;
  width: 100%;
}
.section-menu__btn {
  margin: 2% 0 10% 0;
  background: linear-gradient(#ea73db, #9356dc);
  box-shadow: 0.2rem 0.4rem 0.4rem #99e2d0;
  border: none;
  border-radius: 2rem;
  height: 3rem;
  width: 50%;
  color: #fff;
  cursor: pointer;
}
.section-menu__btn:hover {
  background: #ae80e5;
  box-shadow: 0.2rem 0.4rem 0.2rem #99e2d0;
}

.content {
  padding: 0 5%;
}
.content__heading {
  width: 25%;
  margin: 0 0 4% 1%;
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative;
}
.content__heading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1.2rem;
  height: 0.1rem;
  width: 50%;
  border-bottom: 0.15rem solid #99e2d0;
}
.content__list {
  list-style-type: none;
  margin: 2% 0 10% 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list {
  -webkit-animation: appear 2s cubic-bezier(0.21, 1.05, 0.31, 0.92);
          animation: appear 2s cubic-bezier(0.21, 1.05, 0.31, 0.92);
}
.list--1 {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.list--2 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.list--3 {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}
.list--4 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0.4rem 0.3rem 0.8rem #e8e8e8;
  font-size: 0.75rem;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  height: 3.6rem;
}
.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 4% 0 4% 4%;
}
.card__content div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card h3 {
  margin: 0 0 0.2rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card strong {
  width: 15%;
}
.card i {
  display: none;
}
.card__icon {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: #fff;
  width: 1%;
  height: 100%;
  font-size: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.content__list li:hover .card__icon {
  display: flex;
  -webkit-animation: width 1s forwards cubic-bezier(0.24, 0.93, 0.65, 1.02);
          animation: width 1s forwards cubic-bezier(0.24, 0.93, 0.65, 1.02);
}

.content__list li:hover i {
  -webkit-animation: rotate 1.2s 0.15s both cubic-bezier(0.04, 0.92, 0.29, 1);
          animation: rotate 1.2s 0.15s both cubic-bezier(0.04, 0.92, 0.29, 1);
  display: flex;
}

.footer {
  background-color: #353535;
  padding: 5% 6% 9%;
}
.footer__heading {
  font-family: "Shrikhand", cursive;
  color: #fff;
  margin: 0 0 1rem 0;
  font-weight: 500;
}
.footer__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style-type: none;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 400;
}
.footer__list li {
  width: 53%;
  max-width: 300px;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}
.footer__list li:hover i {
  color: #cccccc;
}
.footer__list li:hover a {
  color: #cccccc;
}
.footer__list a {
  text-decoration: none;
  color: #fff;
}

.size-m {
  font-size: 0.7rem;
}

.size-s {
  font-size: 0.5rem;
}

@-webkit-keyframes appear {
  from {
    transform: translateY(6rem);
    opacity: 0.2;
  }
  to {
    transform: translateY(0);
  }
}

@keyframes appear {
  from {
    transform: translateY(6rem);
    opacity: 0.2;
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes width {
  from {
    width: 1%;
  }
  to {
    width: 20%;
  }
}
@keyframes width {
  from {
    width: 1%;
  }
  to {
    width: 20%;
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes heart {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */