.footer {
  background-color: #353535;
  padding: 5% 6% 9%;
}
.footer__heading {
  font-family: "Shrikhand", cursive;
  color: #fff;
  margin: 0 0 1rem 0;
  font-weight: 500;
}
.footer__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style-type: none;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 400;
}
.footer__list li {
  width: 53%;
  max-width: 280px;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}
.footer__list li:hover i {
  color: #cccccc;
}
.footer__list li:hover a {
  color: #cccccc;
}
.footer__list a {
  color: #fff;
  text-decoration: none;
}

.size-m {
  font-size: 0.7rem;
}

.size-s {
  font-size: 0.5rem;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
.header__img {
  height: 3rem;
  padding-top: 0.5rem;
  width: 40%;
}
@media screen and (min-width: 1024px) {
  .header__img {
    width: 75%;
  }
}
.header__location {
  width: 100%;
  height: 2.5rem;
  font-size: 0.8rem;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: inset 0 0.15rem 0.2rem 0.1rem #d5d5d5;
}
@media screen and (min-width: 1024px) {
  .header__location {
    width: 15%;
    height: 3.5rem;
  }
}

main {
  width: 100%;
}

.presentation-section {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem 3rem;
}
.presentation-section__heading {
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0 10%;
}
.presentation-section__text {
  font-weight: 300;
  font-size: 0.9rem;
}
.presentation-section__btn {
  width: 62%;
  max-width: 280px;
  height: 2.5rem;
  border-radius: 2rem;
  background: linear-gradient(#ea73db, #9356dc);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  box-shadow: 0.2rem 0.4rem 0.4rem #99e2d0;
}
.presentation-section__btn:hover {
  background: #ae80e5;
  box-shadow: 0.2rem 0.4rem 0.2rem #99e2d0;
}

.fonctionnement-section {
  padding: 1rem 1rem 4rem;
}
.fonctionnement-section__heading {
  font-size: 1.2rem;
}
.fonctionnement-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding-left: 3%;
  list-style: none;
  counter-reset: item;
  font-size: 14px;
}
.fonctionnement-section__list li {
  box-shadow: 0.2rem 0.3rem 0.6rem #e7e7e7;
  counter-increment: item;
  border-radius: 1.2rem;
  background-color: #f6f6f6;
  height: 4rem;
  width: 240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 35px;
  font-weight: 700;
  position: relative;
}
.fonctionnement-section__list li:before {
  content: counter(item);
  background-color: #9356dc;
  border-radius: 100%;
  color: white;
  width: 1.4rem;
  height: 1.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 96%;
  top: 35%;
  font-weight: 400;
  font-size: 0.9rem;
}
.fonctionnement-section__list li i {
  color: #7e7e7e;
  width: 1.8rem;
}

.restaurant-section {
  background-color: #f6f6f6;
  padding: 1rem 1rem 4rem;
}
.restaurant-section__heading {
  font-size: 1.2rem;
}
.restaurant-section__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

.cards {
  box-shadow: 0.2rem 0.3rem 0.6rem #e7e7e7;
  width: 100%;
  max-width: 280px;
  border-radius: 1rem;
  background-color: #fff;
}
.cards:hover {
  box-shadow: 0.4rem 0.4rem 0.2rem #e7e7e7;
}
.cards__image {
  position: relative;
  width: 100%;
  height: 10rem;
}
.cards__image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 60%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: absolute;
}
.cards__image span {
  position: absolute;
  right: 12px;
  top: 14px;
  width: 30%;
  height: 2rem;
  background-color: #99e2d0;
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.15rem;
}
.cards__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.cards__footer i {
  font-size: 1.4rem;
}
.cards__footer i:hover {
  font-weight: bold;
  color: #9356dc;
  animation: heart 1s forwards cubic-bezier(0.55, 0.17, 0.58, 0.95);
}
.cards__footer h3 {
  font-size: 1.1rem;
  margin: 0;
}
.cards__footer span {
  font-size: 1rem;
  font-weight: 400;
}

@keyframes heart {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
